@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Klee One', cursive;
}

:root {
    --main-bg: #232323;
    --main-color: #604bbe;
}

html {
    font-size: 62.5%;
}

.row{
    margin: 0;
}

.main_menu {
    background-color: var(--main-bg);
}

.navbar {
    color: rgb(255, 255, 255);
    background-color: var(--main-bg);
    padding: 2rem 0;
}

.navbar li a {
    margin-left: 2rem;
}
.navbar a {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}

.navbar-toggler {
    background-color: var(--main-color);
}

.fa-republican {
    transition: all linear;
    animation: rot 3s linear infinite;
    color: var(--main-color);
}


@keyframes rot {
    50%{
        transform: translate(15px, 0px);
    }       
}


/* .main_header {

} */

.main_header_left{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p {
    font-size: 2rem;
}
.main_header_left h1 {
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: uppercase;
}
.main_header_left h1 span {
    color: blueviolet;
    font-weight: 900;
}
.main_header_right{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


#carouselExampleControls {
    width: 70%;
}

html{
    height: 100%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer{
    width: 100%;
    background-color: var(--main-color);
    margin-top: auto;
}

.footer p {
    line-height: 5rem;
    margin: 0%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}


.main_header_left figure img {
    filter: drop-shadow(0 0.8rem .2rem);
}